body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  width: 98vw;
}

.mycanvas {
  border: 2px solid rgb(11, 10, 10);
  border-style: outset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  background: linear-gradient(to right, rgb(227, 224, 224), #ffffff, rgb(220, 217, 217), white, rgb(222, 219, 219));
  border-radius: 3%;
}
h1 {
  color: #ff0707;
  text-shadow: 2px 2px 2px black;
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.canvas {
  border: 2px solid hsl(0, 0%, 0%);
  display: block;
  margin: 10px;
  margin-top: 1px;
  padding: 5px;
  width: auto;
  height: max-content;
}
.seo{
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 1rem;
  visibility: hidden;
}
.settings{
  display: flex;
  border: 1px solid red;
  
}
.control {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  border: 1px solid black;
  background-color: darkcyan;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  display: grid;
  grid-template-columns: 2 1fr;
  width: auto;
  height: auto;
  border: 1px solid red;
}
.mobile{
  background-color: #ff0707;
}
label, #img {
  font-size: 1rem;
  font-family: Arial;
  color: hsla(300, 7%, 97%, 0.996);
  padding-left: 1px;
  text-shadow: 1px -1px 1px hsla(120, 3%, 7%, 0.966);
  margin: 3px;
  display: inline;
  text-align: end ;
  border: 1px solid rgb(7, 7, 168);
  border-radius: 5px;
}
#img {
font-size: 0.9rem;
text-align: center;
width: 65px;
height: 65px;
color: blueviolet;
}
#pen {
border: 1px solid rgb(248, 60, 60);
display: inline-flex;
padding-right: 2px;
}
#pentype {
display: flex;
border: 2px solid red;
padding: 1px;
flex-wrap: wrap;
height: auto;
width: auto;
flex-direction: column;
align-items: end;
}
.btns{
  max-width: 80px;
  border: 1px solid red;
  margin: 10px;
  margin-left: 1px;

}

#btn, #ruber{
  font-size: 0.9rem;
  font-weight: 4s00;
  padding: 1px;
  margin: 5px;
  width: 60px;
  height: 60px;
  border: 1px  solid #307ae8;
  border-radius: 10px;
  transition: all 0.1s ease;
}

.playing {
  transform: scale(0.9);
  background: rgb(72, 146, 236);
}

:root {
  --pen: #4cf0a3ef;
  --back: #ffffff;
  --grid: 0.1px ;
}
.container {
  display: grid;
  padding: 3px;
  width: 80vh;
  height: 80vh;

/*background-color: var(--back);
*/
}
.container div {
  display: block;
  border: var(--grid) solid rgb(144, 4, 4);
}

input {
  width: 45px;
  font-size: 1rem;
  display: inline-flex;
  margin-left: 10px;
  text-align: end;
}
#pixels{
  font-weight: 600;
}
#rainbow {
  font-size: 16px;
  color: #330399;
  background-image: linear-gradient(50deg, blue, yellow, rgb(224, 54, 54), green);
  margin: 3px;
  width: 45px;
}

#switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  border-radius: 10px;
}
#switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f8fa;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 0px;
  background-color: rgb(246, 241, 241);
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0dbae5;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fafbfc;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
div {
  font-size: 18px;
  text-align: end;
}
footer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;

}
footer >div{
  font-size: 1.1rem;
}
footer > a{
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 2px;
}
@media(max-width: 1100px){
  .container{
    max-width: 950px;
    max-height: 950px;
  }
}

@media(max-width:850px){
  .container{
    max-width: 700px;
    max-height: 700px;
  }
}
@media(max-width: 450px){
  .mycanvas{
    scale: 0.9;
    margin-top: 0px;
    margin-bottom: 1px;
    transform: translateY(-20px);
  }
  h1{
    font-size: 2rem;
    margin-bottom: 5px;
  }
  #desktop{
    margin-bottom: 1px;
  }
  footer{
    margin-top: 0px;
    transform: translateY(-20px);
    height: fit-content;
  }
  .canvas{
    max-width: 400px;
    height: auto;
  }
  .container{
    max-width: 400px;
    max-height: 400px;
  }
}