*{
    border: 1px solid red;
}

body {
    margin: 10px;
    display: flex;
    align-items: baseline;
}
.canvas {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    width: 80vh;
    height: 80vh;
}

button {
    height: 50px;
    margin: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.container {
    display: inline-grid;
    grid-gap: 1px;
    padding: 0px;
    width: 80vh;
    height: 80vh;
}
.container div {
    border: 0.1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4px;
    min-height: 4px;

}
.col{
    background: rgb(7, 146, 99);
}